@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
@import 'tailwindcss';

@theme {
    --color-red: #BA3021;
    --color-green: #21BA45;
    --color-black: #000;
    --color-white: #ffffff;
    --color-gray: #303030;
    --color-darkgray: #1A1A1A;
    --font-hand: "Nothing You Could Do", sans;
    --font-sans: "Jaldi", sans;
}

button:hover {
    cursor: pointer;
    opacity: 50%;
}

button:active {
    scale: 95%;
}

a:hover {
    opacity: 50%;
}